body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
.fa-check-double {
  color: rgb(13, 233, 13);
  }
.fa-github{
  color: white;
}
  .card{
  transition: transform .2s; /* Animation */
  }
  .card:hover{
  box-shadow: 10px 10px 5px grey;
  transform: scale(1.05);
  }
  .navbar-brand img{
    width: 60px;    
    margin-left: 30px;
}
body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
	background-image: url('./public/img/cool-background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}