body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  i {
  color: rgb(13, 233, 13);
  }
  
  .card{
  transition: transform .2s; /* Animation */
  }
  .card:hover{
  box-shadow: 10px 10px 5px grey;
  transform: scale(1.05);
  }
  .navbar-brand img{
    width: 70px;    
    margin-left: 30px;
}
