.card-horizontal {
    display: flex;
    flex: 1 1;
}
.fa-exclamation-triangle {
    color: red;
  }
.fa-github{
  color: white;
}
  .card{
    transition: transform .2s; /* Animation */
  }
  .card:hover{
    box-shadow: 10px 10px 5px grey;
    transform: scale(1.05);
  }
  .navbar-brand img{
    width: 60px;    
    margin-left: 30px;
}
body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
	background-image: url('./public/img/background-2462426_1920.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.card{
	background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 100%); 	
	moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.navbar .nav-link:hover{
  background-color: #007bff;
}
.card:hover{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,128,128,1) 100%); 		
	moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}